<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>

      <div class="bg-dark text-white text-center p-3">
        Copyright - tsugio ueno, 2020 All Rights Reserved.
      </div>
          </div>
  </div>
    </footer>